@{
    ViewData["Title"] = "Home Page";
    ViewBag.Message = "Hello World";
    ViewBag.Par = "This is the " + ViewBag.Title;
    int a;
}

<h1>@ViewBag.Title </h1>
<h2>@ViewData["Message"]</h2>
<p> @ViewBag.Par</p>

